{% load staticfiles %}
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class='container'>
      {% if messages %}
        {{messages.length}}
        <ul>
          {% for message in messages %}
            <li class = 'errors alert-danger'>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class='container'>
      <nav class="navbar navbar-default">
          <div class='container-fluid'>
            <div class='navbar-header'>
                <sapn class='navbar-brand'></sapn>
            </div>
            <div id='navbar' class='navbar-collapse collapse'>
            <ul class = 'nav navbar-nav'>
              <li><a href='/'></a></li>
              <li><a href='/'></a></li>
            </ul>
            <ul class = 'nav navbar-nav navbar-right'>
                <li><a href='/travel'>Home</a></li>
                <li><a href=''>logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div>
        <h2>Add a trip</h2>
        <div>
          <form action='/process_travel/{{request.session.id}}' method='post'>
          {% csrf_token %}
          <div class="form-group">
            Destination:
            <input class="form-control input" type='text' name='destination'>
          </div>
          <div class="form-group">
            Discription:
            <input class="form-control input" type='text' name='plan'>
            </div>
            <div class="form-group">
              Travel Date From:
                <input class="form-control" type='date' name='from'>
            </div>
            <div class="form-group">
                Travel Date to:
                  <input class="form-control" type='date' name='to'>
              </div>
          </div class="form-group">
            <input class="form-control register btn btn-primary" type='submit' value="Add">
          </div>                              
        </form>
        </div>
      </div>
    </div>
  </body>
</html>    